body {
    color: #edf2f4;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    background-color: #F1F1F1;
}    

.header {
    background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1))!important;
    box-shadow: #011012;
}
#home-btn {
    background-color: #c74848;
}

.nav-link {
    color: #fafafa;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #EAEAEA;
    text-align: center;
    padding: 50px 0;
    font-family: serif;
}

.display-5 {
    margin-bottom: 30px;
    font-weight: bold ;
    font-size: 110px;
    color: #EAEAEA;
}

p {
    color: #9f9f9f;
}
h1 {
    font-family: serif;
}
.white-text {
    font-size: 50px;
    color: #F1F1F1;
}
.separator {
    border-right: 1px solid #7c7a7a; 
    height: 20px;
    margin-top: 11px; 
}

.profile-pic {
    height: 200px;
    border-radius: 50%;
    border: 5px solid #3b3030;
}

.home-page {
    margin-top: 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('./resources/black-background-04-coolbackgrounds.png'); /* Update the path */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat; /* Prevent background image repetition */
    background-color: rgba(0, 0, 0, 0.44) !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    filter: blur(1px);
    z-index: -1;
}

